.row{
    padding: 10px;
    margin: 13px
}

.box{
    height: 323px;
    width: 730px;
    background-color: #343a40;
    padding: 30px 50px 20px;
    border-radius: 10px;
    margin: 0px 300px;
}

.summoner{
    font-size: 400%;
}


.box p{
    color: #6c757d;
}

